.margins{
    margin: 0px 25px
}


.index__main__title {
    
    margin-left: 25px;
    margin-bottom: 25px;
    font-weight: lighter;
}

.title2{
    display:none;
}

.galeriahome_common__text__responsive{
    display:none;
}

.index__main__p {
    margin: 10px;
    margin-left: 25px;
    margin-right: 25px;
    margin-bottom: 25px;
    text-indent: 1%;

}


.galeriahome {
    display: grid;
    grid-template-areas: "galeriahome__img1 galeriahome__img2 galeriahome__img2"
        "galeriahome__img1 galeriahome__img3 galeriahome__img3";
    grid-template-columns: auto auto;
    grid-template-rows: 250px 250px;
    grid-gap: 10px;
    margin-left: 25px;
    margin-right: 25px;
}


.galeriahome_common {

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 15px;
    border-radius: 30px;
    transition: all 0.2s;
    transform: scale(1.0);

}
.galeriahome_common a{

    text-decoration: none;

}

.galeriahome_common:hover {

    transition: all 0.2s;
    transform: scale(1.01);

}

.galeriahome__img1 {
    grid-area: galeriahome__img1;
    background-image: url('https://karamhechoamano-backend.onrender.com/static/images/multimedia/galeria/bolso.jpg');
    background-size: cover;
    background-position: center 80%;
}

.galeriahome__img2 {
    grid-area: galeriahome__img2;
    background-image: url('https://karamhechoamano-backend.onrender.com/static/images/multimedia/galeria/general.jpg');
    background-size: cover;
    background-position: left 10%;
}

.galeriahome__img3 {
    grid-area: galeriahome__img3;
    background-image: url('https://karamhechoamano-backend.onrender.com/static/images/multimedia/galeria/ropa.jpg');
    background-size: cover;
    background-position: right 49%;
    align-content: center
}

.galeriahome_common__text {
    font-size: 50px;
}

.galeriahome_common__text__comprar {
    font-size: 25px;
}

.galeriahome__common__ {
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: all 0.5s;
    background-color: rgba(255, 255, 255, 0.772);
}

.galeriahome__common__:hover {
    transition: all 0.5s;
    border-radius: 15px;
    background-color: rgba(255, 255, 255, 0.942);
}

@media screen and (min-width: 389px) and (max-width: 627px) {
    .index__main__p{
        display: none;
    }

    .index__main__title{
        display: none;
    }

    .title2{
        display: block;
        text-align: center;
    }

    .galeriahome {
        display: flex;
        flex-direction: column;

    }

    .galeriahome_common{
        height: 250px;
    }

    .galeriahome_common__text{
        font-size: 40px;
    }

    .galeriahome_common__text__comprar{
        display: none;
    }
}


@media screen and (min-width: 290px) and (max-width: 388px) {
    .index__main__p{
        display: none;
    }

    .index__main__title{
        display: none;
    }

    .title2{
        display: block;
        text-align: center;
    }

    .galeriahome {
        display: flex;
        flex-direction: column;

    }

    .galeriahome_common{
        height: 250px;
    }

    .galeriahome_common__text{
        font-size: 30px;
    }

    .galeriahome_common__text__comprar{
        display: none;
    }
}