.footerContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 150px;
    width: 100%;
    margin-bottom: 20px;
}

.footerContainerLeft{
    width:33%;
    text-align:center;
}

.footerContainerCenter{
    display: flex;
    flex-direction:column;
    justify-content: flex-end;
    width:33%;
    text-align:center;
}

.footerContainerRight{
    width:33%;
    text-align:center;
    vertical-align:bottom;
    display:flex;
    flex-direction: column;
    justify-content:flex-end;
    margin-right: 20px;
}

@media screen and (min-width: 300px) and (max-width:650px) {

    .footerContainer{
        justify-content: center;
    }
    .footerContainerLeft{
        display: none;

    }
    .footerContainerCenter{
        display: none;
    }
    .footerContainerRight{
        width: 100%;
        margin:0px
    }
    .footerContainerRight h2 {
        display: none;
    }
}