
  .modifyProductContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .itemDetailM{
    display: flex;
    flex-direction:row;
    width: 15rem;
    border: none!important;
    margin: 0px 15px;
    margin-bottom: 30px;
  }

  .tableDetail{
    margin: 0 25px;
  }

@media screen and (min-width:351px) and (max-width:775px) {
    .itemDetail{
        width: 250px;
    }
    
}
@media screen and (min-width:300px) and (max-width:350px) {
    .itemDetail{
        width: 220px;
    }
    
}
